h1 {
background-color: orange;
color: white;
margin: 10px;
padding: 20px;
text-align: center;
width: 25%;
font-size: 20px;
float: left;
}

.instructions {
background-color: lightsalmon;
color: green;
clear: both;
margin: 10px;
padding: 10px;
width: 50%;


}

.assignedNumber{
background-color: green;
color: purple;
display: inline-block;
width: 20%;
padding: 20px;
/* margin: 20px; */
float: left;
}

.result {
background-color: lightblue;
color: green;
padding: 10px;
float: left;
}

crystals {
margin: 10px;
padding: 10px;
clear: both;
float: left;
}

userTotal {
    margin: 10px;
    padding: 10px;
}
